<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  >
<head>
    <meta charset="UTF-8">
    <title>Zessta company Home Page</title>
</head>
<body>
    <h2>Zessta company Home Page</h2>
    <hr>
    <p>
        User: <span sec:authentication="principal.username"></span>
    <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
            (Only for Manager peeps)
        </p>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/systems}">IT System Meeting</a>
            (Only for Admins peeps)
        </p>
    </div>
    <hr>
    <p>
        Welcome to the Zessta Company Home Page
    </p>
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>